* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
  }

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 70vh;
    background-color: #f4f4f9;
}

header {
    background-color: rgb(103, 100, 100);
    color: white;
    height: 10vh;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1000;
}

.logo img {
    height: 80px;
    animation: popAnimation 1.5s;
}

@keyframes popAnimation {
    0% {
        transform: translateX(-100%) scale(1);
    }
    50% {
        transform: translateX(0) scale(1.05);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: rgb(180, 180, 151);
}

.main-section {
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 69%;
    padding-top: 20px;
}

h1, h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.intro {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p {
    padding: 20px;
    font-size: 1.2em;
    color: #000000;
}

.intro button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
    background-color: #33333314;
    color: rgb(0, 0, 0);
    border: 0.1px solid;
    border-color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    display: inline-block;
}

.intro button:hover {
    background-color: #555;
}

.learnm {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.3s;
}

.learnm a {
    color: inherit;
    text-decoration: none;
}

footer {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    margin: 0;
    background-color: black;
    color: #e0f7fa;
    text-align: center;
}


footer a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #e0f7fa;
    font-size: 1.1em;
    font-weight: bold;
}

footer a:hover {
    color: rgb(180, 180, 151);
}

@media (max-width: 768px) {
    .main-section {
        background-size: cover;
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }

    .intro h1 {
        font-size: 1.8em;
    }

    .intro p {
        font-size: 1em;
    }

    .about-desktop {
        display: none;
    }

    .about-mobile {
        display: block !important;
        padding-bottom: 150px;
    }
}

.contact {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}


.about-desktop {
    padding: 0px 30px 30px 30px;
    text-align: center;
}

.about-mobile {
    display: none;
}

.about-desktop h1 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.about-desktop p {
    font-size: 1.1em;
    color: #000000;
    line-height: 1.6;
    padding: 2% 12%;
    margin-bottom: 13px;
    font-weight: 520;
    text-shadow: 1px 1px 2px rgba(58, 57, 57, 0.514);
}

.about-mobile h1 {
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 15px;
    color: #000000;
}

.about-mobile p {
    font-size: 0.9em;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 13px;
    font-weight: 520;
    text-shadow: 1px 1px 2px rgba(58, 57, 57, 0.514);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
